<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Elliot Johnson-Hall is an anatomist and developmental biologist with a research interest in tissue engineering, particularly in musculoskeletal tissues. This website showcases his current projects, research interests, and outreach work."
    />
    <meta
      name="keywords"
      content="Elliot Johnson-Hall, tissue engineering, musculoskeletal tissues, 3D printing, bioprinting, biomaterials, mechanobiology, additive manufacturing, outreach"
    />
    <meta name="author" content="Elliot Johnson-Hall" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Elliot Johnson-Hall</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Oxygen:wght@400&display=swap");
    </style>
    <link rel="stylesheet" href="/_includes/main.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="header">
        <a href="/" , aria-label="Home page" , class="heading_link"
          ><h1>Elliot Johnson-Hall</h1></a
        >
      </div>

      <div class="main">
        {{ content }}
        </div>
        <div class="links">
          <a href="https://twitter.com/elliotojh/" , target="_blank"
            ><img
              src="/_includes/_images/twitter.svg"
              ,
              width="40"
              ,
              height="40"
              ,
              class="social"
              ,
              alt="Twitter"
              ,
              aria-label="Twitter"
          /></a>
          <a href="https://orcid.org/0009-0003-5105-034X/" , target="_blank"
            ><img
              src="/_includes/_images/orcid.svg"
              ,
              width="40"
              ,
              height="40"
              ,
              class="social"
              ,
              alt="ORCID"
              ,
              aria-label="ORCID"
          /></a>
          <a href="https://www.linkedin.com/in/elliotjh/" , target="_blank"
            ><img
              src="/_includes/_images/linkedin.svg"
              ,
              width="40"
              ,
              height="40"
              ,
              class="social"
              ,
              alt="LinkedIn"
              ,
              aria-label="LinkedIn"
          /></a>
          <a href="https://github.com/elliotjohnson-hall/" , target="_blank"
            ><img
              src="/_includes/_images/github.svg"
              ,
              width="40"
              ,
              height="40"
              ,
              class="social"
              ,
              alt="GitHub"
              ,
              aria-label="GitHub"
          /></a>
        </div>
        <div class="footer">
          <hr />
          This website is licensed under a
          <a
            rel="license"
            href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
            ,
            target="_blank"
            >Creative Commons Attribution-NonCommercial-ShareAlike 4.0
            International Licence</a
          >.
          <br />
          For works cited here, please refer to the original licence.
        </div>
      </div>
    </body>
  </html>
  